Repository jannisborn/PennyMe, pull requests merged in 2023-10, with the labels that each got.

#165 Machine updates
  data/server_locations.json
Labels: data

#166 Machine updates
  data/server_locations.json
Labels: data

#167 add new machine 6061 named Ysperklamm
  data/server_locations.json
Labels: data, bot

#169 Updating machines through webscraping
  backend/pennyme/locations.py
  backend/pennyme/pennycollector.py
  backend/requirements.txt
  backend/scripts/location_differ.py
  data/server_locations.json
Labels: enhancement

#177 Updates from website (server_locations)
  data/problems.json
  data/server_locations.json
Labels: data, bot

#178 Updates from website (server_locations)
  data/server_locations.json
Labels: data, bot

#180 implement didDeselect method to avoid direct segue
  PennyMe/ViewController.swift
Labels: bug

#179 Updates from website (server_locations)
  data/server_locations.json
Labels: data, bot

#190 Machine udpates
  data/server_locations.json
Labels: data, bot

#192 Website updates and link testing
  backend/pennyme/github_update.py
  backend/scripts/location_differ.py
  backend/scripts/open_diff_pull_request.py
  data/server_locations.json
Labels: data, bot

#193 Updates from website (server_locations)
  data/problems.json
  data/server_locations.json
Labels: data, bot

#197 add new machine 6494 named Schloss Hellenstein
  data/server_locations.json
Labels: data, bot
