Repository jannisborn/PennyMe, pull requests merged in 2023-11, with the labels that each got.

#200 Updates from website (server_locations)
  .hooks/check_json.py
  data/server_locations.json
Labels: data, bot

#202 Updates from website (server_locations)
  data/server_locations.json
Labels: data, bot

#204 Updates from website (server_locations)
  data/server_locations.json
Labels: data, bot

#208 Adapt json loading logic + Website updates
  backend/pennyme/github_update.py
  backend/scripts/location_differ.py
  backend/scripts/open_diff_pull_request.py
  data/server_locations.json
Labels: data, bot

#211 Updates from website (server_locations)
  data/server_locations.json
Labels: data, bot

#214 Updates from website (server_locations)
  data/server_locations.json
Labels: data, bot

#210 Huge backend refactor for streamlined styling`
  .github/workflows/formatting.yml
  .gitignore
  .hooks/check_json.py
  .pre-commit-config.yaml
  backend/.vscode/settings.json
  backend/app.py
  backend/old/assemble_all_locations.py
  backend/old/get_pennycollector_dump.py
  backend/old/mhtml_to_json.py
  backend/pennyme/geojson.py
  backend/pennyme/github_update.py
  backend/pennyme/locations.py
  backend/pennyme/osm.py
  backend/pennyme/pennycollector.py
  backend/pennyme/slack.py
  backend/pennyme/utils.py
  backend/pennyme/webconfig.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/scripts/location_differ.py
  backend/scripts/open_diff_pull_request.py
  backend/scripts/sort_locations_by_latitude.py
  backend/setup.py
Labels: documentation

#217 Version release, updated PinView and 20 new machines
  PennyMe.xcodeproj/project.pbxproj
  PennyMe/Base.lproj/Main.storyboard
  PennyMe/PinViewController.swift
  PennyMe/VersionManager.swift
  data/server_locations.json
Labels: invalid, data

#219 Updates from website (server_locations)
  data/server_locations.json
  data/skip.json
Labels: data, bot

#220 Updates from website (server_locations)
  data/server_locations.json
Labels: data, bot

#222 New machine/updates + bugfixed comment-updates
  backend/pennyme/github_update.py
  backend/scripts/open_diff_pull_request.py
  data/server_locations.json
Labels: bug, data, bot

#225 updates brussels and slack messages
  data/server_locations.json
Labels: data

#226 Updates from website (server_locations)
  data/server_locations.json
Labels: data, bot
