Repository jannisborn/PennyMe, pull requests merged in 2023-09, with the labels that each got.

#151 add new machine 6043 named Fichtelberg
  data/server_locations.json
Labels: data, bot

#155 User feedback during upload of image/comment ("Processing your request...")
  PennyMe/PinViewController.swift
Labels: bug

#159 Bugfixes (#122 and #157)
  PennyMe/ViewController.swift
Labels: bug

#160 Multimachine and paywall symbols
  PennyMe/Artwork.swift
  PennyMe/ArtworkViews.swift
  PennyMe/Base.lproj/Main.storyboard
  PennyMe/PinViewController.swift
Labels: enhancement

#161 add new machine 6059 named Tübingen Burgsteige
  data/server_locations.json
Labels: data, bot

#162 data updates
  data/server_locations.json
Labels: data

#164 Machine updates
  data/server_locations.json
Labels: data
