Repository jannisborn/PennyMe, pull requests merged in 2024-10, with the labels that each got.

#350 Machine updates
  data/problems.json
  data/server_locations.json
Labels: data, bot

#352 Machine updates
  data/problems.json
  data/server_locations.json
Labels: data, bot

#354 User statistics screen
  PennyMe.xcodeproj/project.pbxproj
  PennyMe.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  PennyMe/Base.lproj/Main.storyboard
  PennyMe/StatisticsViewController.swift
  PennyMe/VersionManager.swift
  PennyMe/ViewController.swift
Labels: enhancement

#353 Machine updates
  data/server_locations.json
Labels: data, bot

#358 Location differ - Supporting duplicate links in all locations
  .github/workflows/formatting.yml
  backend/scripts/location_differ.py
Labels: invalid
